<!DOCTYPE html>
<html lang="en">

 <!-- head INICIO -->
 <%- include("../partials/head.ejs") %>
 <!-- head FIN -->


<body>
  <!-- header INICIO -->
  <%- include("../partials/header")  %> 

  <main>
    <div class="container">
      <h2>Carrito de compras</h2>
      <section class="articulos-carrito">
        
        
       <% carrito.forEach(item => { %>

        
        <div class="item-carrito">
          <div class="imagen-carrito"><img src="<%= item.imagen %>" alt="Cafe"></div>
          <div class="descripcionArt-carrito"><%= item.descripcion %> </div>
          <div class="contador-carrito">
            <button>+</button>
            <input type="number" name="cantidad">
            <button>-</button>
          </div>
          <div class="precio-carrito">
            <p><%=item.precio %> </p>
        </div>
          <div class="eliminar-carrito"><button><i class="fas fa-trash-alt"></i></button></div>
        </div>

        <% }) %>



      </section>
      <div class="boton-enviar-carrito">
        <a href="#"> <button>Seguir comprando</button></a>
        <button type="submit">Procesar compra</button>
      </div>
    </div>
  </main>
  <!--footer start-->
  <%- include("../partials/footer")  %> 

  <!-- main-footer end -->

</body>

</html>