<!DOCTYPE html>
<html lang="en">
 <!-- head INICIO -->
 <%- include("../partials/head.ejs") %>
 <!-- head FIN -->

  <body>
    <!-- header INICIO -->
    <%- include("../partials/header")  %> 

    <main>

      <!-- Banner de categorias y miga de pan -->
      <div class="py-6 bg-img-cover bg-dark bg-overlay-gradient-dark position-relative overflow-hidden mb-4 bg-pos-center-center"
      style="background-image: url(/img/header-banner-categoria.png);">
        <div class="container position-relative z-index-20" data-aos="fade-right" data-aos-delay="300">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item breadcrumb-light"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active breadcrumb-light" aria-current="page">Categorias</li>
                </ol>
            </nav>                <h1 class="fw-bold display-6 mb-4 text-white">CATEGORIAS</h1>
            <div class="col-12 col-md-6">
                <p class="lead text-white mb-0">
                    Ritual Urbano ....
                </p>
            </div>
        </div>
      </div>
      <!-- Banner de categorias -->

      <section class="container">
        <div class="cafe-box">       
            <% productos.forEach(producto => { %>             
                     <% if(producto.categoria == cat){%> 
                    <div class="producto-cafe">
                     <a href=/producto/<%=producto.id %>> <img src=<%=producto.imagen %> alt=<%=producto.categoria%>"> </a> 
                     <p><%=producto.nombre %></p>
                     
                </div>
                <% } %> 
           <% }) %> 
                
        </div>
      </section>
                  
    </main>

    <!--footer start-->
    <%- include("../partials/footer")  %> 
    <!-- main-footer end -->

</body>
</html>
