<!DOCTYPE html>
<html lang="en">
 <!-- head INICIO -->
 <%- include("../partials/head.ejs") %>
 <!-- head FIN -->

  <body>
      <!-- header INICIO -->
      <%- include("../partials/header")  %> 

    <main>

        <!-- Banner de categorias y miga de pan -->
        <div class="py-6 bg-img-cover bg-dark bg-overlay-gradient-dark position-relative overflow-hidden mb-4 bg-pos-center-center"
            style="background-image: url(/img/header-banner-categoria.png);">
            <div class="container position-relative z-index-20" data-aos="fade-right" data-aos-delay="300">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item breadcrumb-light"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active breadcrumb-light" aria-current="page">Categorias</li>
                    </ol>
                </nav>                <h1 class="fw-bold display-6 mb-4 text-white">CATEGORIAS</h1>
                <div class="col-12 col-md-6">
                    <p class="lead text-white mb-0">
                        Ritual Urbano ....
                    </p>
                </div>
            </div>
        </div>
        <!-- Banner de categorias -->
  
  <section class="container mt-4 mb'4">
    <div class="categorias-box">
      <%catUnique.forEach(elemento => { %>
      <div class="categoria-cafes">
     <% if(elemento == "cafe") { %>
      <a href="/producto/categoria/<%=elemento%>"><img src="/img/02_coffee.jpg" alt="Cafes"></a>
      <h3><%=elemento%></h3>

          <%} else if(elemento == "cafetera"){%>
            <a href="/producto/categoria/<%=elemento%>"><img src="/img/cafetera_capsulas_philips.jpg" alt="Cafes"></a>
          <h3><%=elemento%></h3>
          
          <%} else if ((elemento == "otrosProductos")) { %>
          <a href="/producto/categoria/<%=elemento%>"><img src="/img/coffee_item6-300x300.jpg" alt="Cafes"></a>
          <h3><%=elemento%></h3>
          <% } else if (elemento == "merchandising") { %>
            <a href="/producto/categoria/<%=elemento%>"><img src="/img/coffee_item7-300x300.jpg" alt="Cafes"></a>
            <h3><%=elemento%></h3>

         <% } else {%>
          <a href="/producto/categoria/<%=elemento%>"><img src="/img/02_coffee.jpg" alt="Cafes"></a>
          <h3><%=elemento%></h3>
          <% } %>

    </div>
    <% } ) %>
     
     <!-- <div class="categoria-cafeteras">
        <a href="/producto/categoria/cafeteras"><img src="/img/Products-17.jpg" alt="Cafeteras"></a>
        <p>Las mejores cafeteras para preparar tu cafe</p>
      </div>
      <div class="categoria-chocolates">
        <a href="/producto/categoria/otrosProductos"><img src="/img/coffee_item6-300x300.jpg" alt="Chocolates"></a>
        <p>Una forma unica de acompañar tu experiencia</p>
      </div>
      <div class="categorias-merchandising">
        <a href="/producto/categoria/merchandising"><img src="/img/coffee_item7-300x300.jpg" alt="Merchandising"></a>
        <p>Llevanos con vos siempre</p>
      </div>
    </div>

  -->

    </main>
      <!--footer start-->
        <%- include("../partials/footer")  %> 
      <!-- main-footer end -->

</body>
</html>