<!DOCTYPE html>
<html lang="en">
 <!-- head INICIO -->
 <%- include("../partials/head.ejs") %>
 <!-- head FIN -->

  <body>
     <!-- header INICIO -->
    
     <%- include("../partials/header")  %> 


    <main>
      <h2>Detalle de productos</h2>
        <section class="container detalle-productos">
          <% productos.forEach (item => { %>
           <div class="detalle-articulos">
           <div class="detalleimg m-4"> <a href="/producto/<%=item.id%>"><img src=<%=item.imagen %> alt="cafe"></a></div>
            <!-- <div class="detallebtn"><button>+</button></div> -->
            <div class="detalletxt ml-4"><p><%= item.descripcion %> </p> <br>   </div>
            <div class="detalletxt"><p> $<%= item.precio %> </p> <br>   </div>

            
            <form action="/producto/<%=item.id%>?_method=DELETE" method="POST">
              <button class="btn btn-dark btn-light-chunky flex-grow-1 me-2 text-white mt-3 centrar-vertical" type="submit">Eliminar</button>
              </form>


              <a href="/producto/<%=item.id%>/editar">
                <button class="btn btn-dark btn-light-chunky flex-grow-1 me-2 text-white mt-3 centrar-vertical" type="submit">Editar</button>
              </a> 
              
            </div>
          
          <% })  %> 

        </div>
        </section>
    </main>
    <!--footer start-->

    <%- include("../partials/footer")  %> 

    <!-- main-footer end -->

</body>
</html>

