<!DOCTYPE html>
<html lang="en">
 <!-- head INICIO -->
 <%- include("../partials/head.ejs") %>
 <!-- head FIN -->

  <body>
     <!-- header INICIO -->
    
     <%- include("../partials/header")  %> 


    <main>
      <h2>Detalle de productos</h2>
        <section class="detalle-productos">
          <% productos.forEach (item => { %>
          <div class="detalle-articulos">
           <div class="detalleimg"> <img src=<%=item.imagen %> alt="cafe"></div>
            <div class="detallebtn"><button>+</button></div>
            <div class="detalletxt"><p><%= item.descripcion %> </p> <br>   </div>
            <div class="detalletxt"><p> $<%= item.precio %> </p> <br>   </div>
          </div>
          <% })  %> 







        </div>
        </section>
    </main>
    <!--footer start-->

    <%- include("../partials/footer")  %> 

    <!-- main-footer end -->

</body>
</html>

  </body>
</html>
