<!DOCTYPE html>
<html lang="en">
   <!-- head INICIO -->
   <%- include("../partials/head.ejs") %>
   <!-- head FIN -->

  <body>
      <!-- header INICIO -->
      <%- include("../partials/header")  %> 

      <main>
        <div class="cafe-box">
            
            
            <% productos.forEach(producto => { %>
               
                     
                     <% if(producto.categoria == "merchandising") {%> 
                    <div class="producto-merchandising">
                     <a href=/producto/<%=producto.id %>> <img src=<%=producto.imagen %> alt="Cafe"> </a> 
                     <p><%=producto.nombre %></p>
                     
                </div>
                <% } %> 
           <% }) %> 
                
        </div>
                   




    </main>
  <!--footer start-->
    <%- include("../partials/footer")  %> 
    <!-- main-footer end -->
</body>
</html>
