<!DOCTYPE html>
<html lang="en">
  <!-- head INICIO -->
  <%- include("../partials/head.ejs") %>
  <!-- head FIN -->

  <body>
    <!-- header INICIO -->
    <%- include("../partials/header.ejs") %>
    <!-- header FIN -->

    <main>
      <div class="container-detalle-producto">
        <div class="img-detalle-producto">
          <img src=<%=prodObj.imagen%>  alt="Aca va una imagen del producto">
          <br>
          <p> <b>Categoria:</b> <%=prodObj.categoria%></p>
        </div>
        <div class="texto-detalle-producto">
          <b>Nombre: </b> <p><%= prodObj.nombre %></p>
          <b>Descripcion: </b>
          <p><%= prodObj.descripcion %></p>
          <b>Peso: </b><p><%= prodObj.peso %>gr</p>
          <b>Precio: </b> <p><%= prodObj.precio %></p> 
          <form action="/producto/carrito/<%= prodObj.id %> " method = "POST">
          <button><p>agregar carrito</p></button>
          </form>
        </div>
        
      </div>



    </main>
  <!--footer start-->
    <%- include("../partials/footer.ejs") %>
    <!-- main-footer end -->
</body>
</html>