<!DOCTYPE html>
<html lang="en">
  <!-- head INICIO -->
  <%- include("../partials/head.ejs") %>
  <!-- head FIN -->

  <body>
    <!-- header INICIO -->
    <%- include("../partials/header.ejs") %>
    <!-- header FIN -->

    <main>

      <!-- Banner de categorias y miga de pan -->
      <div class="py-6 bg-img-cover bg-dark bg-overlay-gradient-dark position-relative overflow-hidden mb-4 bg-pos-center-center"
      style="background-image: url(/img/header-banner-laboratorio.png);">
          <div class="container position-relative z-index-20" data-aos="fade-right" data-aos-delay="300">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                  <li class="breadcrumb-item breadcrumb-light"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active breadcrumb-light" aria-current="page">Usuario</li>
                  <li class="breadcrumb-item active breadcrumb-light" aria-current="page">Crear</li>
                  </ol>
              </nav>                
              <h1 class="fw-bold display-6 mb-4 text-white">Crear</h1>
              <div class="col-12 col-md-6">
                  <!-- <img style="width:150px ;" src=" < %= usuarioFull.image%> "> <br> -->
                  <p class="lead text-white mb-0"> Hola <%= locals.usuarioFull.first_name %>  , aquí puedes crear un producto!</p>
              </div>
          </div>
      </div>
      <!-- Banner de categorias -->

      <section class="mt-5 container ">

        <h1 class="mb-4 display-5 fw-bold text-center">Creación de producto</h1>
          <p class="text-center mx-auto">Ingresa todos los campos</p>
            <div class="border-bottom pb-3"></div>

        <div class="p-2"> 
          <form class="formCrearProducto m-4" action="/producto" method="POST" enctype="multipart/form-data">
           <!-- <input
              type="number"
              name="idProd"
              id=""
              placeholder="ID de producto"
            />
            <br />
           --> <input
              type="text"
              name="nombreProducto"
              id=""
              placeholder="Nombre del producto"
            />
            <br />
            <input
              type="text"
              name="descipcionProducto"
              id=""
              placeholder="Descripcion del producto"
            />
            <br />
            <!-- <input
              type="text"
              name="categoriaProducto"
              id=""
              placeholder="Categoria del producto"
            /> -->
            
            <select name="categoriaProducto" id="" required >
              <option value="" disabled selected >-- Categoria del producto --</option>
              <% categories.forEach(category=> { %>
                <option value="<%= category.id %>">
                  <%= category.nombre %>
                </option>
                <% }); %>
            </select>
            
            <br />
            <input
              type="number"
              name="pesoProducto"
              id=""
              placeholder="Peso del producto"
            />
            <br />
            <input
              type="number"
              name="precioProducto"
              id=""
              placeholder="Precio del producto"
            />
            <br />
            <input type="file" name="imagenProducto" id="" />
            <br />
            <button type="submit" class="btn btn-dark mt-4 mb-2">Enviar</button>
            <br />
          </form>
        </div>

      </section>

    </main>
    <!--footer start-->
    <%- include("../partials/footer.ejs") %>
    <!-- main-footer end -->
  </body>
</html>
