<!DOCTYPE html>
<html lang="en">
 <!-- head INICIO -->
 <%- include("../partials/head.ejs") %>
 <!-- head FIN -->

  <body>
     <!-- header INICIO -->
    
     <%- include("../partials/header")  %> 
    <main>

      <!-- Banner de categorias y miga de pan -->
      <div class="py-6 bg-img-cover bg-dark bg-overlay-gradient-dark position-relative overflow-hidden mb-4 bg-pos-center-center"
      style="background-image: url(/img/header-banner-laboratorio.png);">
          <div class="container position-relative z-index-20" data-aos="fade-right" data-aos-delay="300">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                  <li class="breadcrumb-item breadcrumb-light"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active breadcrumb-light" aria-current="page">Usuario</li>
                  <li class="breadcrumb-item active breadcrumb-light" aria-current="page">lista</li>
                  </ol>
              </nav>                
              <h1 class="fw-bold display-6 mb-4 text-white">Detalle de productos</h1>
              <div class="col-12 col-md-6">
                  <!-- <img style="width:150px ;" src="<%= usuarioFull.image%>"> <br> -->
                  <p class="lead text-white mb-0"> Hola <%= locals.usuarioFull.first_name %>  , este es el catalogo creado!</p>
              </div>
          </div>
      </div>
      <!-- Banner de categorias -->


        <section class="detalle-productos">
          <% encontrados.forEach (item => { %>
           <div class="detalle-articulos">
           <div class="detalleimg"> <a href="/producto/<%=item.id%>"><img src=<%=item.imagen %> alt="cafe"></a></div>
            <div class="detalletxt"><p><%= item.descripcion %> </p> <br>   </div>
            <div class="detalletxt"><p> $<%= item.precio %> </p> <br>   </div>
            </div>
          
          <% })  %> 

        </div>
        </section>
    </main>

    <!--footer start-->
    <%- include("../partials/footer")  %> 
    <!-- main-footer end -->

</body>
</html>

