<!DOCTYPE html>
<html lang="en">
  <!-- head INICIO -->
  <%- include("partials/head.ejs") %>
  <!-- head FIN -->

  <body>
     <!-- header INICIO -->
     <%- include("./partials/header")  %> 

    <main>

        <!-- Banner de categorias y miga de pan -->
        <div class="py-6 bg-img-cover bg-dark bg-overlay-gradient-dark position-relative overflow-hidden mb-4 bg-pos-center-center"
        style="background-image: url(/img/header-banner-contacto.png);">
            <div class="container position-relative z-index-20" data-aos="fade-right" data-aos-delay="300">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item breadcrumb-light"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active breadcrumb-light" aria-current="page">Contacto</li>
                    </ol>
                </nav>                
                <h1 class="fw-bold display-6 mb-4 text-white">Contáctanos</h1>
                <div class="col-12 col-md-6">
                    <p class="lead text-white mb-0">
                        Hola, en que podemos servirte!
                    </p>
                </div>
            </div>
        </div>
        <!-- Banner de categorias -->         

        <h1 class="mb-4 display-5 fw-bold text-center">Contactenos</h1>
          <p class="text-center mx-auto">Envianos tu dudas o mentarios, en breve te responderemos</p>
            <div class="container border-bottom pb-3"></div>

        
        <!-- Formulario de login-->
        <Section class="mt-4 container">
          <div class="row d-flex mt-auto p-1">
            <div class="p-5 sticky-md-top top-10">
              <div class="card flex-grow-1 mb-md-0 w-60 mx-auto">
                <div class="card__content"> 

                      <form class="form-registro" action="/contacto" method="POST" id="form-contacto">
                        <label for="nombre" class="form-label">Ingrese su Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="nombre" value="<%= (locals.old && old.nombre) ? old.nombre : "" %>">
                        <label for="apellido" class="form-label">Ingrese su Apellido</label>
                        <input type="text" class="form-control" name="apellido" id="apellido" value="<%= (locals.old && old.apellido) ? old.apellido : "" %>">
                        <label for="email" class="form-label">Ingrese su Direccion de email</label>
                        <input type="email" class="form-control" name="email" id="email" value="<%= (locals.old && old.email) ? old.email : "" %>">

                        <textarea class="form-label mt-4 mb-4" name="consulta" style="min-width: 100%" rows="10" placeholder="Ingrese aqui sus comentarios" required></textarea>

                        <!-- Accept Terms Checkbox-->
                        <div class="form-group form-check my-4">
                          <input type="checkbox" class="form-check-input" id="accept-terms" checked>
                          <label class="form-check-label fw-bolder" for="accept-terms">Acepto los <a href="#">térmimos & condiciones</a></label>
                        </div> 
                        <p>Tus datos personales se utilizarán para procesar tu pedido, mejorar tu experiencia en esta web, gestionar el acceso a tu cuenta y otros propósitos descritos en nuestra política de privacidad.</p>
                        <button form="form-contacto" class="btn btn-dark mt-4 mb-2" type="submit">Enviar</button>
                      </form>

                    </div>
                  </div>

            </div>                
          </div>
        </Section>
        <!-- /form -->

    </main>
  <!--footer start-->
  <%- include("./partials/footer")  %> 

    <!-- main-footer end -->

</body>
</html>


</body>
</html>
