<!DOCTYPE html>
<html lang="en">

 <!-- head INICIO -->
 <%- include("partials/head.ejs", {title:"home"}) %>
 <!-- head FIN -->


<body>
  
     <!-- Enlace Wsp -->
     <%- include("./partials/wsp")  %> 

    <!-- header INICIO -->
    <%- include("./partials/header")  %> 

    <main>
      <section>

          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a  href="/producto"><img src="/img/Banner-8.png" class="d-block w-100" alt="..."></a>                
              </div>
              <div class="carousel-item">
                <a  href="/producto/categoria/1"><img src="/img/Banner-2.jpg" class="d-block w-100" alt="..."></a>                
              </div>
              <div class="carousel-item">
                <a  href="/producto/categoria/1"><img src="/img/Banner-3.png" class="d-block w-100" alt="..."></a> 
                <div class="carousel-caption d-none d-md-block">
                  <h5>Viaja a traves de tus sentidos</h5>
                      <p>Disfruta de los aromas y sabores caracteristicos de las regiones productoras del mejor cafe.</p>
                </div>               
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </section>

        <!-- body section -->
        <section class="mt-5 container ">

          <!-- <div class="container text-center">
            <div class="row">
              <div class="col">
                Column
              </div>
              <div class="col">
                Column
              </div>
              <div class="col">
                Column
              </div>
            </div>
          </div> -->





          <div class="row g-4 mb-5 mt-5" >
            <h1>Conoce nuestros productos</h1>            
          </div>

            <!-- Card Product-->
            <section>
              <div class="row g-4 mb-5" >
                <% productos.forEach(item => { %>
                  <% if(item.idCategoria == 1) { %>
                    <div class="col-12 col-sm-6 col-md-3">
                      <!-- Card Product-->
                      <div class="card position-relative h-100 card-listing hover-trigger">
                                          
                    <div class="card-header">
                        <picture class="position-relative overflow-hidden d-block bg-light">
                            <img class="w-100 img-fluid position-relative z-index-10" title="" src="<%=item.imagen%>" alt="imagen del producto">
                        </picture>
                            <!-- <picture class="position-absolute z-index-20 start-0 top-0 hover-show bg-light"> // ESTA LINEA PRUCEN ERROR EN INDEX
                                <img class="w-100 img-fluid" title="" src=< %=item.imagen%> alt=""> // ESTA LINEA PRUCEN ERROR EN INDEX
                            </picture> -->  
                        <div class="card-actions">
                            <span class="small text-uppercase tracking-wide fw-bolder text-center d-block"><i class="ri-shopping-basket-2-fill"> </i>Agregar al Carrito</span>
                            <!-- <div class="d-flex justify-content-center align-items-center flex-wrap mt-3">
                                <button class="btn btn-outline-dark btn-sm mx-2"><%=item.peso%>Kg</button>
                                <button class="btn btn-outline-dark btn-sm mx-2"><%=item.peso%>Kg</button>
                                <button class="btn btn-outline-dark btn-sm mx-2"><%=item.peso%>Kg</button>
                            </div> -->
                        </div>
                    </div>
                    <div class="card-body px-0 text-center">
                        <div class="d-flex justify-content-center align-items-center mx-auto mb-1">
                            <!-- Review Stars Small-->
                        <div class="rating position-relative d-table">
                            <div class="position-absolute stars" style="width: 90%">
                                <i class="ri-star-fill text-dark mr-1"></i>
                                <i class="ri-star-fill text-dark mr-1"></i>
                                <i class="ri-star-fill text-dark mr-1"></i>
                                <i class="ri-star-fill text-dark mr-1"></i>
                                <i class="ri-star-fill text-dark mr-1"></i>
                            </div>
                            <div class="stars">
                                <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                                <i class="ri-star-fill mr-1 text-muted opacity-25"></i>
                            </div>
                        </div> <span class="small fw-bolder ms-2 text-muted"> 4.7 (100)</span>
                        </div>
                        <a class="mb-0 mx-2 mx-md-4 fs-p link-cover text-decoration-none d-block text-center"
                        href="/producto/<%=item.id%>"></a> 
                            <p><%=item.nombre%></p>
                            <p class="fw-bolder m-0 mt-2"><%=item.precio%></p>
                          </div>
                        </div>
                        <!--/ Card Product-->
                      </div>
                      <% } %> 
                  <% })%> 
            </div>      
          </section>

        </section> <!-- /body section -->

    </main>

    <!--footer start-->
    <%- include("./partials/footer")  %> 
    
    <!-- main-footer end -->
  

  </body>
</html>