<!DOCTYPE html>
<html lang="en">
 <!-- head INICIO -->
 <%- include("../partials/head.ejs", {title: "Login"}) %>
 <!-- head FIN -->

  <body>
      <!-- header INICIO -->
      <%- include("../partials/header.ejs") %>

    <main>

      <!-- Banner de categorias y miga de pan -->
      <div class="py-6 bg-img-cover bg-dark bg-overlay-gradient-dark position-relative overflow-hidden mb-4 bg-pos-center-center"
      style="background-image: url(/img/header-banner-registro.png);">
          <div class="container position-relative z-index-20" data-aos="fade-right" data-aos-delay="300">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                  <li class="breadcrumb-item breadcrumb-light"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active breadcrumb-light" aria-current="page">Usuario</li>
                  <li class="breadcrumb-item active breadcrumb-light" aria-current="page">Login</li>
                  </ol>
              </nav>                
              <h1 class="fw-bold display-6 mb-4 text-white">Usuarios</h1>
              <div class="col-12 col-md-6">
                  <p class="lead text-white mb-0">
                      Inicia tu Sesión
                  </p>
              </div>
          </div>
      </div>
      <!-- Banner de categorias -->

      <section class="mt-5 container ">

        <h1 class="mb-4 display-5 fw-bold text-center">Inicio de Sesión</h1>
          <p class="text-center mx-auto">Complete los detalles a continuación. ¿Ya estás registrado?</p>
          <p class="text-center mx-auto">
            <span> Sí aún no eres parte de este ritual, haz click <a href="/user/registro">aquí.</a> </span>
          </p>
            <div class="border-bottom pb-3"></div>

            <!-- Formulario de login-->
            <div class="row d-flex mt-auto p-1">
              <div class="p-5 sticky-md-top top-10">
                  
                    <div class="card flex-grow-1 mb-md-0 w-60 mx-auto">
                      <div class="card__content">
                        <form class="form-login" action="/user/login" method="POST" id="form-login">
                          <div class="mb-3">
                            <label class="form-label" for="email">Dirección de Email</label>
                            <input type="email" placeholder="Ingrese su correo electrónico" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" name="email" id="email" value='<%= locals.oldData ? oldData.email : null  %>'>
                            <% if (locals.errors && errors.email) { %>                            
                              <p style="color: tomato; font-size: 12px;"> <%= errors.email.msg %></p> 
                            <% } %>
                              <!--?Validación Frontend-->
                            <p id="errorEmail"class="msg-error ocultar"></p>
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="password">Contraseña</label>
                            <input type="password" placeholder="Contraseña" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" name="password" id="password" value='<%= locals.oldData ? oldData.password : null  %>' class='form-control spacing <%= locals.errors && errors.password ? 'is-invalid' : null %> '>
                            <% if (locals.errors && errors.password) { %>                            
                              <p style="color: tomato; font-size: 12px;"> <%= errors.password.msg %></p> 
                            <% } %>
                              <!--?Validación Frontend-->
                              <p id="errorPassword" class="msg-error ocultar"></p>
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox"  name="recuerdame" class="form-check-input" />
                            <label class="form-check-label mb-0">Recuérdame</label>
                          </div>
                          <div class="form-group form-check my-4">
                              <input type="checkbox" class="form-check-input" id="accept-terms" checked>
                              <label class="form-check-label fw-bolder" for="accept-terms">Acepto los <a href="#">térmimos & condiciones</a></label>
                          </div>   
                          <button class="btn btn-dark" type="submit">Acceder</button>
                        </form>
                      </div>
                    </div>

                    <!-- Accept Terms Checkbox-->
              </div>                
            </div>
          <!-- /form -->

      </section>

    </main>

    <!--vinculación con archivo .js-->
     
    <script src="/js/LoginValidation.js"></script>
    <!--footer start-->
     
     <%- include("../partials/footer.ejs") %>

      <!-- main-footer end -->
  </body>
</html>
