<!DOCTYPE html>
<html lang="en">
  <!-- head INICIO -->
  <%- include("../partials/head.ejs") %>
  <!-- head FIN -->

  <body>
     <!-- header INICIO -->
     <%- include("../partials/header") %>

     <main>

      <!-- Banner de categorias y miga de pan -->
      <div class="py-6 bg-img-cover bg-dark bg-overlay-gradient-dark position-relative overflow-hidden mb-4 bg-pos-center-center"
      style="background-image: url(/img/header-banner-registro.png);">
          <div class="container position-relative z-index-20" data-aos="fade-right" data-aos-delay="300">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                  <li class="breadcrumb-item breadcrumb-light"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active breadcrumb-light" aria-current="page">Usuario</li>
                  <li class="breadcrumb-item active breadcrumb-light" aria-current="page">Registro</li>
                  </ol>
              </nav>                
              <h1 class="fw-bold display-6 mb-4 text-white">Registro</h1>
              <div class="col-12 col-md-6">
                  <p class="lead text-white mb-0">
                      Registrate en nuestro Site
                  </p>
              </div>
          </div>
      </div>
      <!-- Banner de categorias -->

      <section class="mt-5 container ">

        <h1 class="mb-4 display-5 fw-bold text-center">Nuevo Registro</h1>
          <p class="text-center mx-auto">Súmate ya a nuestro ritual</p>
            <div class="border-bottom pb-3"></div>

            <!-- Formulario de login-->
            <div class="row d-flex mt-4">
              <div class="p-4 sticky-md-top top-5">
                  
                            <!-- Muestra mensajes de validacion -->

                    <div class="card flex-grow-1 mb-md-0">
                      <div class="card__content">
                        <% if (locals && locals.mensajeDeError) { %>
                          <% for(let error in mensajeDeError) { %>
                            <p style="color: tomato; font-size: 12px;"> <%= mensajeDeError[error].msg %> </p> 
                         <% } %>
                        <% } %>
                           
                        <!-- fin de mensajes de valdiacion  -->


                        <form class="form-registro" action="/user/registro" method="POST" id="form-registrar" enctype="multipart/form-data" >
                          <label for="nombre" class="form-label">Nombre</label>
                          <input type="text" class="form-control" name="nombre" id="nombre" value="<%= (locals.old && old.nombre) ? old.nombre : "" %>" minlength="4">
                          <label for="apellido" class="form-label">Apellido</label>
                          <input type="text" class="form-control" name="apellido" id="apellido" value="<%= (locals.old && old.apellido) ? old.apellido : "" %>" minlength="4">
                          <label for="email" class="form-label">Direccion de email</label>
                          <input type="email" class="form-control" name="email" id="email" value="<%= (locals.old && old.email) ? old.email : "" %>">
                          <label for="password" class="form-label">Contraseña</label>
                          <input type="password" class="form-control" name="password" id="password">
                          <label for="imagen" class="form-label">Imagen</label>
                          <input type="file" class="form-control" name="imagen" id="imagen">

                          <!-- Accept Terms Checkbox-->
                          <div class="form-group form-check my-4">
                            <input type="checkbox" class="form-check-input" id="accept-terms" checked>
                            <label class="form-check-label fw-bolder" for="accept-terms">Acepto los <a href="#">térmimos & condiciones</a></label>
                          </div> 
                          <p>Tus datos personales se utilizarán para procesar tu pedido, mejorar tu experiencia en esta web, gestionar el acceso a tu cuenta y otros propósitos descritos en nuestra política de privacidad.</p>

                          <button form="form-registrar" class="btn btn-dark mt-4 mb-2" type="submit">Registrar</button>
                        </form>

                      </div>
                    </div>

              </div>                
            </div>
          <!-- /form -->

      </section>

    </main>


     <!--footer start-->
     <%- include("../partials/footer.ejs") %>
      <!-- main-footer end -->
</body>
</html>

  </body>
</html>
