<!DOCTYPE html>
<html lang="en">
  <!-- head INICIO -->
  <%- include("../partials/head.ejs") %>
  <!-- head FIN -->

  <body>
     <!-- header INICIO -->
     <%- include("../partials/header") %>

     <main>

      <section class="mt-5 container ">

        <h1 class="mb-4 display-5 fw-bold text-center">Nuevo Registro</h1>
          <p class="text-center mx-auto">Súmate ya a nuestro ritual</p>
            <div class="border-bottom pb-3"></div>

            <!-- Formulario de login-->
            <div class="row d-flex mt-4">
              <div class="p-4 sticky-md-top top-5">
                  
                            <!-- Muestra mensajes de validacion -->

                    <div class="card flex-grow-1 mb-md-0">
                      <div class="card__content">
                        <% if (locals && locals.mensajeDeError) { %>
                          <% for(let error in mensajeDeError) { %>
                            <p style="color: tomato; font-size: 12px;"> <%= mensajeDeError[error].msg %> </p> 
                         <% } %>
                        <% } %>
                           
                        <!-- fin de mensajes de valdiacion  -->


                        <form class="form-registro" action="/user/registro" method="POST" id="form-registrar">
                          <label for="nombre" class="form-label">Nombre y Apellido</label>
                          <input type="text" class="form-control" name="nombre" id="nombre" value="<%= (locals.old && old.nombre) ? old.nombre : "" %>" minlength="8">
                          <label for="email" class="form-label">Direccion de email</label>
                          <input type="email" class="form-control" name="email" id="email" value="<%= (locals.old && old.email) ? old.email : "" %>">
                          <label for="password" class="form-label">Contraseña</label>
                          <input type="password" class="form-control" name="password" id="password" value="<%= (locals.old && old.password) ? old.password : "" %>">
                          <label for="rpassword" class="form-label">Repetir contraseña</label>
                          <input type="password" class="form-control" name="rpassword" id="rpassword" value="<%= (locals.old && old.rpassword) ? old.rpassword : "" %>">

                          <!-- Accept Terms Checkbox-->
                          <div class="form-group form-check my-4">
                            <input type="checkbox" class="form-check-input" id="accept-terms" checked>
                            <label class="form-check-label fw-bolder" for="accept-terms">Acepto los <a href="#">térmimos & condiciones</a></label>
                          </div> 
                          <p>Tus datos personales se utilizarán para procesar tu pedido, mejorar tu experiencia en esta web, gestionar el acceso a tu cuenta y otros propósitos descritos en nuestra política de privacidad.</p>

                          <button form="form-registrar" class="btn btn-dark mt-4 mb-2" type="submit">Registrar</button>
                        </form>

                      </div>
                    </div>

              </div>                
            </div>
          <!-- /form -->

      </section>

    </main>


     <!--footer start-->
     <%- include("../partials/footer.ejs") %>
      <!-- main-footer end -->
</body>
</html>

  </body>
</html>
